*, *:before, *:after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
.body{
    position: absolute;
    top:100%;
}
.HeaderSection{
    font-family: Nunito;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 28vh;
}
.HeaderSmall{
    font-size: 1.5em;
}
 .HeaderMedium{
    font-size: 3.5em;
}
.HeaderLarge{
    font-size: 6em;
}
.TopLayout{
    height: 20vh;
    margin-right: 3%;
    margin-top: 2%;
    text-align: right;
}
.TopLinks{
    font-family: Nunito;
    font-size: 1.5em;
    color:black;
    padding-left: 2%;
    display: inline-block;
    text-decoration: none;
}
.BackgroundBox{
    width: 100%;
    height: 100%;
    background-color: rgb(63, 63, 63);
    position: absolute;

}
.AboutMe{
    height: 40%;
    font-family: Nunito;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
a:link{
    color:black;
}
a:hover{
    color:rgb(255, 0, 0);
}